services:
  postrest:
    image: postgrest/postgrest:v14.0
    ports:
      - "3000:3000"
    environment:
      PGRST_DB_URI: postgres://oai:oai@host.docker.internal:5432/oai
      PGRST_DB_SCHEMAS: "api"
      PGRST_DB_ANON_ROLE: "view_api"
      PGRST_OPENAPI_SERVER_PROXY_URI: http://localhost:3000
    networks:
      - oai_viewer
  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8080:8080"
    expose:
      - "8080"
    environment:
      API_URL: http://localhost:3000/

  web:
    image: nginx
    volumes:
      - ./html:/usr/share/nginx/html
    ports:
      - "80:80"
    expose:
      - "80"
    networks:
      - oai_viewer
    

networks:
  oai_viewer:
    external: false